{% extends 'RoleAccess/base.html' %}

{% block content %}

<h1>Users</h1>
{% for user in users %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ user.username }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ user.first_name }} {{ user.last_name }}</h6>
      <p class="card-text">{{ user.email }}</p>
      {% if not user.is_Admin and not user.is_superuser %}
      <a href="{% url 'delete' user.id %}" class="card-link">Delete User</a>
      {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}